@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Noto+Sans+JP:wght@400;700;800&display=swap");
html {
  font-size: 8px;
}

body {
  width: 100%;
  font-size: 2rem;
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
  color: #2b2b2b;
  background: #f7f7f7;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

#top {
  position: relative;
  top: -7rem;
  left: 0;
}

/* header */
header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  padding-top: 1rem;
  z-index: 800;
  border-bottom: 3px solid #2b2b2b;
  background: #f7f7f7;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 5rem;
}

.hamburger-menu {
  display: none;
}

.header-sitename {
  font-size: 3rem;
  font-weight: 800;
}
.header-sitename a {
  padding: 0 1rem;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.header-nav-link {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.header-nav-link li {
  position: relative;
}
.header-nav-link li::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-3deg);
  content: "";
  width: 0;
  height: 2px;
  background: #2b2b2b;
  z-index: -1;
  transition: all 0.3s;
}
.header-nav-link li:has(a:hover)::after {
  width: calc(100% + 4px);
  height: 2px;
}
.header-nav-link li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

.header-nav-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background: #f7f7f7;
  border: 2px solid #2b2b2b;
  box-sizing: content-box;
  box-shadow: 0 0 0 #2b2b2b;
  transition: all 0.2s;
}
.header-nav-icon:has(a:hover) {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 0 #2b2b2b;
}
.header-nav-icon a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
}
.header-nav-icon a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  width: 100%;
  max-width: 1100px;
  min-height: calc(100vh - 6rem);
  margin: 6rem auto 0;
}

.first-page-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5%;
  align-items: center;
  width: 90%;
  margin: auto;
  height: calc(100vh - 6rem);
}

.first-page-img,
.first-page-text {
  width: 45%;
}

.first-page-img {
  position: relative;
}
.first-page-img img {
  border-radius: 100%;
  border: 3px solid #2b2b2b;
  box-shadow: 1rem 1rem 0 #2b2b2b;
}

.first-page-text {
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.first-page-text .message {
  font-size: 10rem;
  text-transform: capitalize;
}
.first-page-text .name {
  font-size: 10rem;
}
.first-page-text .name em {
  font-weight: 800;
  letter-spacing: 0.05em;
}
.first-page-text .introduce {
  font-size: 3rem;
}

.works-section,
.about-section,
.contact-section {
  position: relative;
}

#works,
#about,
#contact {
  position: absolute;
  top: -7rem;
  left: 0;
}

.works-section {
  width: 100%;
  padding: 2rem 0;
}

.index-h2 {
  margin: 2rem auto 4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 8rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.works-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 850px;
  gap: 3rem;
  margin: 0 auto 6rem;
}
.works-list li {
  width: calc((100% - 5rem) / 2);
  aspect-ratio: 1/1;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border: 3px solid #2b2b2b;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0 0 #2b2b2b;
}
.works-list li:has(a:hover) {
  box-shadow: 1rem 1rem 0 #2b2b2b;
  transform: translate(-1rem, -1rem);
}
.works-list li a {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
}
.works-list .dummy {
  border-color: transparent;
}
.works-list .dummy:has(a:hover) {
  box-shadow: none;
  transform: none;
}

.works-thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 1rem 1rem 0 0;
}
.works-thumbnail img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.works-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
}

.works-title h3 {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-size: 7rem;
  font-weight: 700;
}

.works-title aside {
  color: #6b6b6b;
}

.works-caption {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btn-more {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  color: #2b2b2b;
}
.btn-more a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 220px;
  padding: 10px 25px;
  color: #2b2b2b;
  transition: 0.3s ease-in-out;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: skew(-10deg, 0deg);
  border: 3px solid #2b2b2b;
}
.btn-more a::before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: -1.5em;
  transform: translateY(calc(-50% - 1px)) rotate(30deg);
  width: 12px;
  height: 2px;
  border-radius: 2px;
  background-color: #2b2b2b;
  transition: all 0.3s;
}
.btn-more a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1.5em;
  transform: translateY(-50%);
  width: 40px;
  height: 3px;
  border-radius: 32px;
  background-color: #333;
  transition: all 0.3s;
}
.btn-more a:hover::before, .btn-more a:hover::after {
  right: -2.5em;
}
.btn-more a div {
  position: relative;
  transform: skewX(10deg);
}
.btn-more a div::after {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%) skew(-10deg, 0deg);
  content: "";
  width: 110%;
  height: 0;
  background: #dbdbdb;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;
}
.btn-more a:hover div::after {
  height: 10px;
  opacity: 1;
}

.about-section {
  width: 100%;
  padding: 3rem 0;
}

.about-container {
  position: relative;
  max-width: 850px;
  margin: auto;
  padding: 2rem 0;
  border-radius: 1rem;
  background: #e2e2e2;
  border: 3px solid #2b2b2b;
  box-shadow: 1rem 1rem 0 #2b2b2b;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 0 2rem 4rem;
}

.about-icon {
  width: 20rem;
}
.about-icon img {
  width: 100%;
  border-radius: 100%;
  border: 3px solid #2b2b2b;
  box-shadow: 1rem 1rem 0 #2b2b2b;
}

.about-info {
  flex: 1;
}

.about-info-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.about-info-top div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.about-name {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.contact-section {
  width: 100%;
  padding: 4rem 0 8rem;
}

.contact-content {
  max-width: 70rem;
  margin: auto;
}

.mail-address-area {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  padding: 3rem 10rem;
  margin: 5rem auto 2rem;
  border-radius: 1rem;
  border: 3px solid #2b2b2b;
  box-shadow: 1rem 1rem 0 #2b2b2b;
  background: #dbdbdb;
  text-align: center;
}
.mail-address-area .caption {
  margin-top: 1rem;
  color: #6b6b6b;
}

.copy-success {
  position: absolute;
  top: 0rem;
  left: 50%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #f7f7f7;
  background: #6b6b6b;
  font-size: 1.5rem;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 0.1s;
}
.copy-success.appear {
  top: -1rem;
  opacity: 1;
}

.mail-address {
  position: relative;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  z-index: 0;
  cursor: pointer;
}
.mail-address::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 110%;
  height: 0;
  content: "";
  background: #6b6b6b;
  z-index: -1;
  transform: translateX(-50%) skew(-10deg);
  transition: all 0.2s;
  opacity: 0;
}
.mail-address:hover::after {
  height: 50%;
  opacity: 0.2;
}

.back-to-top {
  position: fixed;
  bottom: 3%;
  right: 2%;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  border: 3px solid #2b2b2b;
  background: #f7f7f7;
  box-shadow: 0 0 0 #2b2b2b;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
}
.back-to-top.back-to-top-appear {
  opacity: 1;
  pointer-events: inherit;
}
.back-to-top:has(a:hover) {
  box-shadow: 4px 4px 0 #2b2b2b;
  transform: translate(-3px, -3px);
}
.back-to-top a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.back-to-top a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  width: 100%;
  color: #f7f7f7;
  background: #2b2b2b;
  padding: 10rem 0 3rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.footer-siteinfo {
  text-align: center;
}

.footer-sitename {
  font-size: 3rem;
  letter-spacing: 0.05em;
}

.footer-siteinfo aside {
  margin-top: 2rem;
  color: #6b6b6b;
  font-family: "Montserrat", sans-serif;
}
.footer-siteinfo aside p {
  margin-bottom: 1rem;
}

.footer-nav-link {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
}
.footer-nav-link li a:hover {
  border-bottom: 2px solid #f7f7f7;
}

.footer-sns-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 3rem;
}

.footer-nav-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 2px solid #f7f7f7;
  transition: all 0.2s;
}
.footer-nav-icon:has(a:hover) {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 0 #f7f7f7;
}
.footer-nav-icon a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  text-align: center;
}
.footer-nav-icon a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyright {
  color: #6b6b6b;
  text-align: center;
}

.top-container,
.bottom-container {
  max-width: 700px;
  margin: auto;
}

.top-container {
  padding: 4rem 0;
}

.thumbnail-area {
  width: 100%;
  aspect-ratio: 16/9;
}
.thumbnail-area img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  outline: 3px solid #2b2b2b;
}

.title-area h2 {
  margin: 1rem auto 0;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}
.title-area .languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  color: #6b6b6b;
}
.title-area .languages h3::after {
  content: "：";
}
.title-area .language-list {
  display: flex;
  flex-direction: row;
}
.title-area .language-list li:not(:last-child)::after {
  content: "・";
}

.link-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.link-btn {
  min-width: 20rem;
  border-radius: 100rem;
  border: 3px solid #2b2b2b;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 0 0 #2b2b2b;
  transition: all 0.2s;
}
.link-btn.demo {
  color: #f7f7f7;
  background: #2b2b2b;
}
.link-btn:has(a:hover) {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0 #2b2b2b;
}
.link-btn a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  border-radius: 100rem;
  text-align: center;
}

.bottom-container {
  margin-bottom: 10rem;
}
.bottom-container h3 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem 0 2rem;
  padding: 0.5rem 2rem 0;
  color: #f7f7f7;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.bottom-container h3::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #2b2b2b;
  z-index: -1; /*
animation-name: fadeIn;
animation-duration: .8s;
animation-timing-function: cubic-bezier(.8,0,.68,.99);*/
}
@keyframes fadeIn {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.bottom-container .text-area {
  margin-bottom: 5rem;
}
.bottom-container .text-area h4 {
  margin: 3rem 0 2rem;
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: 3px solid #2b2b2b;
}
.bottom-container .text-area ul:not(.table-list),
.bottom-container .text-area ol {
  margin: 2rem 3rem;
  padding: 3rem;
  border-radius: 1rem;
  border: 3px solid #2b2b2b;
}
.bottom-container .text-area ul:not(.table-list) li,
.bottom-container .text-area ol li {
  text-indent: -3rem;
  padding-left: 5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.bottom-container .text-area ul:not(.table-list) li:last-child,
.bottom-container .text-area ol li:last-child {
  margin-bottom: 0;
}
.bottom-container .text-area ul:not(.table-list) li::before,
.bottom-container .text-area ol li::before {
  padding-right: 1rem;
  font-family: "Montserrat", sans-serif;
}
.bottom-container .text-area ul:not(.table-list) li::before {
  content: "・";
}
.bottom-container .text-area ol {
  counter-reset: item;
}
.bottom-container .text-area ol li::before {
  counter-increment: item;
  content: counter(item) ".";
}
.bottom-container .text-area p {
  margin-bottom: 0.5rem;
}
.bottom-container .text-area em {
  font-weight: 800;
}
.bottom-container .text-area table {
  margin: 2rem 0;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-radius: 1rem;
  border: 3px solid #2b2b2b;
}
.bottom-container .text-area tr:not(:first-child) th {
  border-right: 2px solid #dbdbdb;
}
.bottom-container .text-area tr:not(:last-child) th,
.bottom-container .text-area tr:not(:last-child) td {
  border-bottom: 2px solid #2b2b2b;
}
.bottom-container .text-area th,
.bottom-container .text-area td {
  padding: 1rem 2rem;
}
.bottom-container .text-area tr:first-child th,
.bottom-container .text-area tr:first-child td {
  color: #f7f7f7;
  background: #2b2b2b;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.bottom-container .text-area th {
  width: 30%;
  max-width: 30%;
  font-family: "Montserrat", sans-serif;
}
.bottom-container .text-area th span {
  display: inline-block;
}
.bottom-container .text-area .table-list li {
  margin-bottom: 1rem;
}
.bottom-container .text-area .table-list li:not(:last-child)::after {
  content: " ,";
}

/* tablet */
@media screen and (max-width: 1024px) {
  .works-section {
    padding: 6rem 3rem;
  }
  .works-title h3 {
    font-size: 4rem;
  }
  .about-section {
    padding: 10rem 3rem 6rem;
  }
  .about-container {
    padding: 2rem;
  }
  .back-to-top {
    width: 8rem;
    height: 8rem;
  }
}
/* smartphone */
@media screen and (max-width: 599px) {
  main {
    min-height: initial;
  }
  .header {
    padding: 0 2rem;
  }
  .hamburger-menu,
  .header-sitename,
  .header-nav {
    flex: 1;
  }
  .header-sitename {
    text-align: center;
  }
  .header-nav {
    justify-content: flex-end;
  }
  .hamburger-menu {
    display: initial;
    z-index: 10;
    cursor: pointer;
  }
  .menu-bar1,
  .menu-bar2,
  .menu-bar3 {
    width: 3.5rem;
    height: 0.3rem;
    background: #2b2b2b;
    margin: 0.8rem 0;
    transition: all 0.4s;
  }
  .active.menu-bar1 {
    transform: rotate(-45deg) translate(-0.8rem, 0.8rem);
  }
  .active.menu-bar2 {
    opacity: 0;
  }
  .active.menu-bar3 {
    transform: rotate(45deg) translate(-0.7rem, -0.8rem);
  }
  .menu-bar2 {
    width: 2rem;
    margin-right: auto;
  }
  .header-nav-link {
    display: none;
  }
  .back-to-top {
    bottom: 4%;
    right: 4%;
    width: 6rem;
    height: 6rem;
  }
  .header-nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: fixed;
    top: 7rem;
    left: 0;
    bottom: 0;
    right: 0;
    color: #f7f7f7;
    background: #2b2b2b;
    font-size: 4rem;
    transform: translateX(-100%);
    transition: all 0.4s;
  }
  .header-nav-link li:after {
    background: #f7f7f7;
  }
  .header-nav-link.active {
    transform: none;
  }
  .first-page-img,
  .first-page-text {
    width: 80%;
  }
  .first-page-text .message,
  .first-page-text .name {
    font-size: 6rem;
  }
  .index-h2 {
    margin-bottom: 2rem;
  }
  .works-list {
    gap: 2rem;
  }
  .works-list li {
    width: calc(100% - 5rem);
  }
  .works-list li a {
    gap: 1rem;
  }
  .works-section {
    padding: 0 1rem;
  }
  .about-section {
    padding: 0 2rem;
  }
  .contact-section {
    padding: 7rem 2rem;
  }
  .about-content {
    flex-direction: column;
  }
  .mail-address-area {
    width: 100%;
    margin-top: 2rem;
    padding: 2rem 4rem;
  }
  footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 3rem;
  }
  .footer {
    flex-direction: column;
  }
  .footer-nav-link {
    align-items: center;
  }
  .footer-sns-list {
    justify-content: center;
  }
  .mail-address {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  .top-container {
    padding: 4rem 2rem;
  }
  .bottom-container {
    padding: 0 2rem;
    margin-bottom: 8rem;
  }
  .title-area .languages {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .title-area .languages h3::after {
    content: "";
  }
  .link-area {
    gap: 2rem;
  }
  .bottom-container .text-area ul:not(.table-list), .bottom-container .text-area ol {
    margin: 2rem 0;
    padding: 2rem 2rem 2rem 1rem;
  }
  .bottom-container .text-area ul:not(.table-list) li, .bottom-container .text-area ol li {
    padding-left: 4rem;
  }
  .bottom-container .text-area ul:not(.table-list) li::before, .bottom-container .text-area ol li::before {
    padding-right: 0.5rem;
  }
  .bottom-container .text-area tr {
    display: flex;
    flex-direction: column;
  }
  .bottom-container .text-area th {
    width: 100%;
    max-width: 100%;
    border-bottom-color: #6b6b6b;
  }
  .bottom-container .text-area tr:not(:first-child) th {
    border-right: none;
  }
  .bottom-container .text-area tr:not(:last-child) th,
  .bottom-container .text-area th {
    border-bottom: 2px solid #dbdbdb;
  }
  .bottom-container .text-area tr:not(:last-child) td,
  .bottom-container .text-area tr:not(:last-child) td,
  .bottom-container .text-area tr:first-child th {
    border-bottom: 2px solid #2b2b2b;
  }
}