@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Noto+Sans+JP:wght@400;700&display=swap');

html {
  font-size: 8px;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #333;
  overflow-x: hidden;
}
p {
  margin-bottom: .5rem;
}
.header {
  width: 100%;
  background: #fff;
  &.full-screen {
    display: none;
  }
}
.header-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  li a {
    display: block;
    padding: 2rem 2rem 1rem;
    transition: .2s;
    &:hover {
      opacity: .5;
    }
  }
}
.viewer-page {
  width: 100%;
}
.viewer-area {
  width: 100%;
  height: calc(100vh - 53px - 6rem);
  background: #f0f0f0;
  position: relative;
  &.full-screen {
    position: fixed;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    top: 0;
    left: 0;
    z-index: 900;
  }
}
.viewer-page-list {
  position: relative;
  width: 100%;
  height: 100%;
}
.viewer-spread {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
  div {
    max-height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  
}
.current-page {
  right: 0;
}
.prev-page {
  right: -100%;
}
.next-page {
  right: 100%;
}
.past-page,
.future-page {
  display: none;
}
.viewer-prev-btn,
.viewer-next-btn {
  width: calc(50% - 35rem);
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem;
  transition: .1s;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px #f0f0f0);
  z-index: 901;
  svg {
    width: 4rem;
    height: 4rem;
    fill: #0000003b;
  }
  &:hover {
    opacity: .3;
  }
}
.viewer-prev-btn {
  right: 0;
  text-align: right;
}
.viewer-next-btn {
  left: 0;
  text-align: left;
}
.inactive {
  display: none;
}
.viewer-fullscreen-btn {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-size: 3rem;
  padding: .5rem;
  transition: .1s;
  filter: drop-shadow(0px 0px 5px #f0f0f0);
  cursor: pointer;
  z-index: 902;
  svg {
    width: 3rem;
    height: 3rem;
    fill: #0000003b;
  }
  &:hover {
    opacity: .3;
  }
}
.viewer-info-area {
  max-width: 80rem;
  margin: auto;
}
.viewer-info-title {
  height: 6rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 6rem;
}
.viewer-info-category {
  text-align: center;
  color: #818181;
  svg {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    fill: #818181;
  }
}
.viewer-info-caption {
  margin-bottom: 2rem;
}
.viewer-caption-title {
  display: flex;
  align-items: flex-end;
  margin: 2rem 0;
  padding-top: 2rem;
  border-top: 2px dotted #bdbdbd;
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
  }
  aside {
    font-weight: 700;
    &::before {
      content: '――';
      margin: 0 2rem;
    }
  }
}
.viewer-info-date {
  text-align: right;
  color: #818181;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  padding: 5rem;
  gap: 5rem;
  &.full-screen {
    display: none;
  }
}
.footer-nav-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  color: #818181;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  a {
    display: block;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid #818181;
    }
  }
}
.copyright {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #bbbbbb;
  a:hover {
    border-bottom: 1px solid #bbbbbb;
  }
}
@media screen and ( max-width:768px ) {
  .header-nav-list {
    font-size: 2rem;
  }
  .header-nav-list li a {
    padding: 2rem 1rem 2rem;
  }
  .header-nav-list li a:hover {
    opacity: 1;
  }
  .header-nav-list li a:active {
    opacity: 0.5;
  }
  .viewer-prev-btn,
  .viewer-next-btn {
    width: 50%;
    padding: 1rem;
  }
  .viewer-prev-btn:hover,
  .viewer-next-btn:hover {
    opacity: 1;
  }
  .viewer-prev-btn:active,
  .viewer-next-btn:active {
    opacity: 0.3;
  }
  .viewer-fullscreen-btn:hover {
    opacity: 1;
  }
  .viewer-fullscreen-btn:active {
    opacity: 0.3;
  }
  .viewer-info-area {
    padding: 0 2rem;
  }
  .footer-nav-list a:hover {
    border-bottom: 1px solid transparent;
  }
  .footer-nav-list a:active {
    border-bottom: 1px solid #818181;
  }
  .copyright a:hover {
    border-bottom: 1px solid transparent;
  }
  .copyright a:active {
    border-bottom: 1px solid #bbbbbb;
  }
}